<div>
    <h3>Login</h3>
<form id="loginform">
		<input type="text" placeholder="Username" id="loginusername">
		<br>
		<br>
		<input type="password" placeholder="Password" id="loginpassword">
		<br>
		<br>
		<input type="submit" value="Login">
		<br>
		<br>
		<a href="/signup">Sign up instead</a>
		<br>
		<br>
		<br>
		<br>
		</form>
        </div>

		<script src="./js/login.js"></script>