<div>
    <h3>Signup</h3>
<form id="signupform">
		<input id="usernamesignup" type="text" placeholder="Username">
		<br>
		<br>
		<input id="passwordsignup" type="password" placeholder="Password">
		<br>
		<br>
		<input type="submit" value="Signup">
		<br>
		<br>
		<a href="/login">Login in instead</a>
		<br>
		<br>
		<br>
		<br>
		</form>
        </div>

<script src="./js/signup.js"></script>
